.items{
    width: 80%;
   background-color : rgb(140, 134, 127);
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
}
.cart-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80vh;
    overflow-y: auto;
}
.total-content{
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
}