.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999; /* Ensure it's above other content */
}

.loader p {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}
