.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(147, 176, 166);
}

.item p{
    margin: 0;
    font-weight: bold;
}
.proimg{
    height: 4rem;
    padding: 5px;
}
.quan{
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.quan label{
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    width: 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .item{
        flex-direction: column;
        padding: 15px;
    }
    .quan{
        flex-direction: column;
        width: 50%;
    }
    .quan label{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.totalprice{
    font-size: 24px;
    color: rgb(49, 17, 53);
}