.details-cont{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.details-cont img{
    width: 40%;
    height: 30rem;
    margin-left: 5%;
}
@media (max-width: 768px){
    .details-cont{flex-direction: column;}
    .details-cont img{
        width: 90%;
    }
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5%;
    align-items: center;
    width: 40%;

}
.details p{
    font-weight: bold;
    font-size: 22px;
    margin: 0;
}
.btns{
    
    font-size: 22px;
    font-weight: bold;
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    padding: 3px;
}

.buynow{
    color: white;
    background-color: rgb(2, 35, 2);
    border: none;
    border-radius: 15px;
    width: 40%;
    height: 50px;
}
.buynow:hover{
    background-color: white;
    color: black;
    border: 2px solid  rgb(2, 35, 2);
}
.addtocart{
    border: 2px solid  rgb(2, 35, 2);
    width: 40%;
    height: 50px;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
}
.addtocart:hover{
    color: white;
    background-color: rgb(2, 35, 2);
}
@media (max-width: 768px){
    .btns{
        flex-direction: column;
        width: 100%;
    }
    .buynow{
        width: 100%;
    }
    .addtocart{
        width: 100%;
        margin-top: 5px;
    }
}